@tailwind base;
@tailwind components;
@tailwind utilities;

.cool-border {
  border-radius: 50% 20% / 10% 40%;
}

.modal {
  position: fixed;
  inset: 0px;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}
